/* Navbar text färg */
[data-testid="stSidebarNav"] a span,
[data-testid="stSidebarNavItems"] span {
    color: white !important;
}

/* Navbar hover */
[data-testid="stSidebarNav"] a:hover span {
    color: white !important;
}

/* Main content text (övrig text) */
.main .block-container {
    color: #262730 !important;
}



/* Headers i main content */
.main h1,
.main h2,
.main h3 {
    color: #1F1F1F !important;
}


/* Styling for the filtering on Översikt */

.st-key-vald_stadsdelsomrade>div:nth-child(1)>div:nth-child(2)>div:nth-child(1),
.st-key-vald_stadsdelsomrade>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>svg:nth-child(1){
    color:white; 
     
}


.st-key-vald_stadsdel>div:nth-child(1)>div:nth-child(2)>div:nth-child(1),
.st-key-vald_stadsdel>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>svg:nth-child(1){
    color:white;
    
}



.st-key-vald_kategori>div:nth-child(1)>div:nth-child(2)>div:nth-child(1), 
.st-key-vald_kategori>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>svg:nth-child(1){
    color:white;
   
}

.st-emotion-cache-1l4xqi8{
    color: white;
    background: #003F47; 
    margin-top: -4px;
    
}

/* [data-testid="stVerticalBlock"]>div>div {
    background-color: #FEFEFE;
    padding: 10px;
    border-radius: 16px;
} */

#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div:nth-child(3)>div>div>div>div.st-emotion-cache-18kf3ut.e1rw0b1u4>div>div:nth-child(4)>div{
    padding-top: 30px;
}

/* KPI kort - Label */
[data-testid="stMetricLabel"] p {
    font-size: 13px; 
}

/* KPI kort - Värde  */
[data-testid="stMetricValue"] {
    font-size: 20px;
}

#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div:nth-child(4)>div>div.stColumn.st-emotion-cache-1jcxbpf.e1rw0b1u2>div>div.st-emotion-cache-18kf3ut.e1rw0b1u4>div>div.stElementContainer.element-container.st-emotion-cache-1vo6xi6.e1rw0b1u1>div>div>div.stVegaLiteChart.st-emotion-cache-1o00ozs.e1l17lq30.vega-embed.has-actions>div>svg,
#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div:nth-child(6)>div>div:nth-child(2)>div>div.st-emotion-cache-18kf3ut.e1rw0b1u4>div>div.stElementContainer.element-container.st-emotion-cache-1vo6xi6.e1rw0b1u1>div>div>div.stVegaLiteChart.st-emotion-cache-1o00ozs.e1l17lq30.vega-embed.has-actions>div>svg{
    background-color: transparent !important;
}




#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div.stElementContainer.element-container.st-emotion-cache-13gev4o.e1rw0b1u1>div>div>div.stImage.st-emotion-cache-1dvmtd8.ehg91i90>div>img,
#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div.st-emotion-cache-1h5subw.e1rw0b1u4>div>div>div>div.stColumn.st-emotion-cache-hua6f6.e1rw0b1u2>div>div.stElementContainer.element-container.st-emotion-cache-13gev4o.e1rw0b1u1>div>div>div.stImage.st-emotion-cache-1dvmtd8.ehg91i90 {
    width:35% !important; 
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(4) > div > div:nth-child(1) > div > div{
    width: 70% !important;
}


#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div.st-emotion-cache-1h5subw.e1rw0b1u4>div>div>div>div.stColumn.st-emotion-cache-hua6f6.e1rw0b1u2>div>div:nth-child(2)>div>div>div>p, 
#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div.st-emotion-cache-1h5subw.e1rw0b1u4>div>div>div>div.stColumn.st-emotion-cache-hua6f6.e1rw0b1u2>div>div:nth-child(3)>div>div>div>p{
    font-size: 10px;
    text-align: center;
}


#root>div:nth-child(1)>div.withScreencast>div>div>div>section>div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4>div>div.st-emotion-cache-1h5subw.e1rw0b1u4>div>div>div, 
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(4) > div, 
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(5) > div, 
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(12) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(19) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(6) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(6) > div > div > div > div.st-emotion-cache-18kf3ut.e1rw0b1u4 > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(8) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(8) > div > div > div > div.st-emotion-cache-18kf3ut.e1rw0b1u4 > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div.st-emotion-cache-18kf3ut.e1rw0b1u4 > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(20) > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(20) > div > div > div > div.st-emotion-cache-18kf3ut.e1rw0b1u4 > div{
    background-color: transparent !important;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(6) > div > div > div > div > div > div:nth-child(3) > div > div > div {
    margin-top: 32px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(8) > div > div > div > div > div > div:nth-child(2) > div > div > div > button,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div > div > div:nth-child(3) > div > div > div > button{
    margin-top: 28px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(20) > div > div > div > div > div > div:nth-child(2) > div{
    margin-top: 31px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div > div > div:nth-child(2) > div > div > div > div > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div > div > div:nth-child(1) > div > div > div > div > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(20) > div > div > div > div > div > div:nth-child(1) > div > div > div > div > div,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div > div > div:nth-child(1) > div > div > div > div > div > div.st-ak.st-al.st-as.st-cp.st-bg.st-cq.st-bl > svg,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(13) > div > div > div > div > div > div:nth-child(2) > div > div > div > div > div > div.st-ak.st-al.st-as.st-cp.st-bg.st-cq.st-bl > svg,
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-zy6yx3.eqt0gmo4 > div > div:nth-child(20) > div > div > div > div > div > div:nth-child(1) > div > div > div > div > div > div.st-ak.st-al.st-as.st-cp.st-bg.st-cq.st-bl > svg{
    color: white;
}